{% extends 'base.html' %}

{% block content %}
    <!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search text-center">
        <div class="container">
            
            <form action="{% url 'search' %}" method="GET">
                <input type="search" name="q" placeholder="Search for Food.." required>
                <input type="submit" name="submit" value="Search" class="btn btn-primary">
            </form>

        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->



    <!-- fOOD MEnu Section Starts Here -->
    <section class="food-menu">
        <div class="container">
            <h2 class="text-center">Food Menu</h2>
            {% for x  in foods %}
            <div class="food-menu-box">
                <div class="food-menu-img">
                    <img src="{{x.image.url}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
                </div>

                <div class="food-menu-desc">
                    <h4>{{x.name|title}}</h4>
                    <p class="food-price">${{x.price}}</p>
                    <p class="food-detail">
                        {{x.description}}
                    </p>
                    <br>

                    <a href="{{x.get_absolute.url}}" class="btn btn-primary">Order Now</a>
                </div>
            </div>
            {% endfor %}
            <div class="clearfix"></div>
            

        </div>

    </section>
    <!-- fOOD Menu Section Ends Here -->
{% endblock %}