{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- fOOD sEARCH Section Starts Here -->
    <section class="food-search">
        <div class="container">
            {% if food in request.user.profile.foods.all %}
            <h2 class="text-center text-white">Is in your order list.</h2>
            <form action="" method="POST" class="order">
                {% csrf_token %}
                <button type="submit" name="action" value="list">Cncel ordering ?</button>
            </form>
            <center><h1>{{ time.date }}</h1></center>
            {% else %}
            <h2 class="text-center text-white">Fill this form to confirm your order.</h2>

            <form action="{% url 'ordering' food.food_id %}" method="POST" class="order">
                {% csrf_token %}
                <fieldset>
                    <legend>Selected Food</legend>

                    <div class="food-menu-img">
                        <img src="{{food.image.url}}" alt="Chicke Hawain Pizza" class="img-responsive img-curve">
                    </div>
    
                    <div class="food-menu-desc">
                        <h3>{{food.name|title}}</h3>
                        <p class="food-price">${{food.price}}</p>

                        <div class="order-label">Quantity</div>
                        <input type="number" name="qty" class="input-responsive" value="1" maxlength="5" required>
                        
                    </div>

                </fieldset>
                
                <fieldset>
                    <legend>Delivery Details</legend>
                    <div class="order-label">Full Name</div>
                    <input value="{{request.user.username}}" type="text" name="full-name" placeholder="E.g. Vijay Thapa" class="input-responsive" required>

                    <div class="order-label">Phone Number</div>
                    <input type="tel" name="contact" placeholder="E.g. 9843xxxxxx" class="input-responsive" required>

                    <div class="order-label">Email</div>
                    <input type="email" name="email" placeholder="E.g. hi@vijaythapa.com" value="{{user.email}}" class="input-responsive" required>

                    <div class="order-label">Address</div>
                    <textarea name="address" rows="10" placeholder="E.g. Street, City, Country" class="input-responsive" required></textarea>
                    {% if request.user.is_authenticated %}
                    <input type="submit" name="submit" value="Confirm Order" class="btn btn-primary">
                    {% else %}
                    <center><small>Login to <a href="{% url 'login' %}">Login</a></small></center>
                    {% endif %}
                </fieldset>

            </form>
            {% endif %}
        </div>
    </section>
    <!-- fOOD sEARCH Section Ends Here -->
{% endblock %}